
 ::after, ::before{
    box-sizing: border-box;
}

body{
    background-color: rgb(92, 120, 120);
    text-align: center;
    
}

h1{
    color: rgb(165, 47, 26);
}





.grid{
    width: 100vh;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,auto);
    margin-left: 190px;
    

}

.block{
    background-color: rgb(165, 47, 26);
    width: 100px;
    height: 100px;
    border: 1px solid black;
} 

#restart:hover{
    background-color: brown;
}